/* Footer */

#footer {
    height: 100vh;
}

#border {
    height: 100px;
}

#border2 {
    height: 100px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main {
    width: 50%;
    padding-right: 150px;
    padding-left: 150px;
}

.list {
    list-style: none;
}

.grid {
    height: 75%;
    align-items: center;
}

#about_us {
    display: flex;
    color: white;
    height: 75%;
    font-size: 26px;
}

#important {
    width: 50%;
    padding: 0 10%;
    margin-top: 10%;
}

.second {
    width: 25%;
    padding: 0 5%;
    list-style: none;
    margin-top: 10%;
}

.span-col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    margin-bottom: 20px;
}

.span-col-3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #BF964B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

.head, .foot {
    height: 150px;
}

.foot {
    display: flex;
    align-self: flex-end;
}

@media screen and (max-width: 1385px) {
    #footer {
        height: 100%;
    }
    .second, #important {
        font-size: 16px;
    }
    footer h2 {
        white-space: nowrap;
    }
}

@media screen and (max-width: 655px){
     #about_us {
         flex-direction: column;
         align-items: center;
         text-align: center;
     }
    .second h2 {
        padding-left: 25px;
    }
    .second {
        padding-left: 0;
    }
}
@media screen and (max-width: 510px) {
    .second h2 {
        padding-left: 10px;
    }
}