/* section 6 */

#section6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 80px;
}

@media screen and (max-width: 1070px) {
    #section6 {
        height: 100%;
        font-size: 60px;
    }
}
@media screen and (max-width: 557px) {
    #section6 {
        font-size: 42px;
    }
}