/* Section 1 */

#section1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#plat1 {
    margin-top: 50px;
}
    
#title2, #p1 {
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 280px;
    font-size: 40px;
}
    
#p1 {
    font-size: 26px;
}

@media screen and (max-width: 1400px) {
    #title2 {
        font-size: 34px;
        padding-left: 120px;
    }
    #p1 {
        font-size: 22px;
        padding-left: 120px;
    }
}

@media screen and (max-width: 1160px) {
    #title2, #p1 {
        padding-right: 120px;
    }
}

@media screen and (max-width: 1000px) {
    #section1 {
        position: relative;
    }
    #plat1 {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    #title2, #p1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 40px;
    }
    #title2 {
        top: 230px;
    }
    #p1 {
        margin-top: 130px;
        padding: 0 0;
        font-size: 34px;
    }
}

@media screen and (max-width: 820px) {
    #title2 {
        white-space: nowrap;
        top: 180px;
        padding: 0px 0px;
    }
    #p1 {
        padding: auto 0;
        font-size: 26px;
    }
    #plat1 {
        top: 20%;
        height: 50%;
    }
}

@media screen and (max-width: 360px) {
    #title2 {
        top: 50px;
    }
    #p1 {
        top: 230px;
        font-size: 22px;
    }
}

