*, *::before, *::after {
box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
font-size: 18px;
}

/* Header */

header {
background-color: #837b58;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
width: 100%;
height: 150px;
}

nav {
display: flex;
align-items: center;
}

nav span {
color: white;
margin-left: 50px;
margin-right: 50px;
font-size: 26px;
}

a {
color: white;
text-decoration: none;
}

#logo {
display: flex;
align-items: center;
height: 100%;
width: 200px;
margin-left: 100px;
}

@media screen and (max-width: 1167px) {
    header{
        position: static;
        width: 100%;
        white-space: nowrap;
    }
    #logo {
        margin-left: 10px;
    }
}

@media screen and (max-width: 931px) {
    nav span {
        margin-right: 30px;
    };
}

@media screen and (max-width: 890px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav span {
        margin-left: 0;
        margin-top: 5px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 630px) {
    nav {
        flex: wrap;
    }
}

/* Polices | Style */

.screen {
height: 100vh;
}

.yellow {
background-color: #bf964b;
}

.green {
background-color:  #736c4d;
}

.ptsans {
font-family: 'PT Sans', sans-serif;
}

.antic {
font-family: 'Antic Didone', serif, 'PT Sans', sans-serif;
}

.nunito {
font-family: 'Nunito', sans-serif;
}